<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style>
        .contact-form{font-family: 'Charm', cursive;}
    </style>
    <title>Contact</title>
</head>
<body>
    <form action="https://formsubmit.co/653a152ae1ec6765143706e57b6e67ab" method="POST" class="contact-form">

    <!-- value is redirection url -->
    <input type="hidden" name="_next" value="https://thriveinvitality.com/thankyou/">
    <input type="hidden" name="_subject" value="Question">
    <input type="text" name="name" required placeholder="Your name">
    <input type="email" name="email" required placeholder="Your email">
    <input type="tel" name="phone" placeholder="Phone number (optional)">
    <input type="text" name="service-inquiry" required placeholder="Services you are inquiring about">
    <br>
    <button type="submit">
        Submit
    </button>
</form>
</body>
</html>


